<table class="users_table">
	<thead>
		<tr>
			<th>name</th>
			<td><%= @user.name %></td>

			<td><%= @user.introduction %></td>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
  <h1><%= link_to post.title, post_path(post.id) %></h1>
  <p><%= post.content %></p>
  <%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg' %>
<% end %>
	</tbody>
</table>

<div class="follower">
      <%= link_to followers_user_path(@user) do %>
          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
      <% end %>
  </div>
  <div class="follow">
      <%= link_to following_user_path(@user) do %>
                <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
      <% end %>
  </div>
  <div>
      <%= render "follow_form" %>
  </div>