<div class="top">

<% if user_signed_in? %>
	<li class="nav-list-item">
	  <div style="margin-top: 15px; color: #ffffff;">
        <p>ようこそ
    	     <%= link_to mypage_users_path do %>
    	     <%= current_user.name %>
  	     <% end %>
        </p>
    </div>
	</li>
<% end %>

<% @posts.each do |post| %>
    <h3><%= post.user.name %></h3>
    <h4><%= post.title %></h4>
    <p><%= post.content %></p>
<%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg' %>
  <ul>
    <%= link_to "#{post.answers.count} 件の回答", post_path(post.id) %>
  </ul>
<% end %>
</div>